# NAVTTC Lab 3 â€” Python Data Structures

## List Operations

In [4]:
MYLIST  = ["zeba","Banana","apple", "banana", "cherry","apple", "banana", "cherry"]
# THIS IS A LOOP
for a in MYLIST:
    print(a)

zeba
Banana
apple
banana
cherry
apple
banana
cherry

In [5]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [6]:
thislist = ["Bisma", "Hiba", "Ali", "Sadia", "Zanaib","Bisma", "Hiba", "Ali", "Sadia", "Zanaib"]
thislist.sort()
print(thislist)

['Ali', 'Ali', 'Bisma', 'Bisma', 'Hiba', 'Hiba', 'Sadia', 'Sadia', 'Zanaib', 'Zanaib']

In [7]:
thislist = ["Bisma", "Hiba", "Ali", "Sadia", "Zanaib","Bisma", "Hiba", "Ali", "Sadia", "Zanaib"]
thislist.sort(reverse=True)
print(thislist)

['Zanaib', 'Zanaib', 'Sadia', 'Sadia', 'Hiba', 'Hiba', 'Bisma', 'Bisma', 'Ali', 'Ali']

In [8]:
thislist = ["anana", "Brange", "ciwi", "dherry"]
thislist.sort()
print(thislist)

['Brange', 'anana', 'ciwi', 'dherry']

In [9]:
thislist = ["aanana", "Orange", "Kiwi", "Zherry"]
thislist.sort(key=str.lower)
print(thislist)

['aanana', 'Kiwi', 'Orange', 'Zherry']

In [10]:
oldlist = ["apple", "banana", "cherry"]
newlist = oldlist.copy()
print(newlist)

['apple', 'banana', 'cherry']

In [11]:
fruite = ["apple", "banana", "cherry"]
mylist = list(fruite)
print(mylist)

['apple', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [13]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list2 + list1
print(list3)

[1, 2, 3, 'a', 'b', 'c']

## Tuple Examples

In [14]:
data1 = ("apple", "banana", "cherry")
data2 = ["a", "b", "c"]
print(data1)
print(data2)
print(type(data1))
print(type(data2))

('apple', 'banana', 'cherry')
['a', 'b', 'c']
<class 'tuple'>
<class 'list'>

In [15]:
mytuple = ["apple", "banana", "cherry"]
print(type(mytuple))

<class 'list'>

## Set Examples

In [16]:
mytuple = {"apple", "banana", "cherry", "ayeus"}
print(type(mytuple))

<class 'set'>

In [17]:
thisset = {"apple", "banana", "cherry", "ayesha"}
for x in thisset:
    print(x)

banana
apple
cherry
ayesha

## Dictionary Examples

In [18]:
thisdict = {
    "brand": "swift",
    "model": "aspire",
    "color": "red",
    "year": 4
}
print(thisdict)

{'brand': 'swift', 'model': 'aspire', 'color': 'red', 'year': 4}

In [19]:
thisdict = {
  "ALI": 12,
  "HAMZA": 13,
  "SADIA": 14
}
print(thisdict)

{'ALI': 12, 'HAMZA': 13, 'SADIA': 14}

In [20]:
ford = {
  "brand": "Ford",
  "electric": True,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(ford)

{'brand': 'Ford', 'electric': True, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [21]:
honda = {
  "brand": "honda",
  "electric": True,
  "year": 1923,
  "colors": ["green", "white", "blue"]
}
print(honda)

{'brand': 'honda', 'electric': True, 'year': 1923, 'colors': ['green', 'white', 'blue']}

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": "ali"
}
x = thisdict["year"]
y = thisdict["brand"]
print(thisdict["year"])
print(x)
print(y)

ali
ali
Ford

In [23]:
car = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
x = car.values()
print(x) #before the change
car["color"] = "red"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])